@keyframes shadowsFadeInOut {
  0% {
    opacity: 0;
  }
  20%,
  50% {
    opacity: 1;
    fill: #eee;
  }
  70%,
  100% {
    opacity: 0;
  }
}

@keyframes swipeTop {
  0% {
    transform: translate(-96%, -36%);
  }
  13% {
    transform: translate(-48%, -18%);
  }
  23% {
    transform: translate(-18%, -18%);
  }
  70%,
  100% {
    transform: translate(0, 0);
  }
}

@keyframes swipeBottom {
  0% {
    transform: translate(96%, 36%);
  }
  13% {
    transform: translate(48%, 18%);
  }
  23% {
    transform: translate(18%, 18%);
  }
  70%,
  100% {
    transform: translate(0, 0);
  }
}

@keyframes logoColoring {
  0% {
    opacity: 0;
  }
  80%, 100% {
    opacity: 1;
  }
}

@keyframes logoReveal {
  0%,
  75% {
    transform: translateX(50%);
  }
  80%,
  100% {
    transform: translateX(0);
  }
}

@keyframes lettersFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  min-height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  color: #313d58;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

body svg {
  width: 300px;
  height: 300px;
}

body svg g,
body svg path,
body svg .clips,
body svg circle {
  animation-fill-mode: forwards;
  animation-duration: 4.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-delay: 0.01s;
  animation-fill-mode: forwards;
}

body svg .logoShadow {
  fill: white;
  mix-blend-mode: multiply;
  filter: url(#inset-shadow);
  opacity: 0;
  animation-name: shadowsFadeInOut;
}

body svg .logoColor {
  opacity: 0;
  animation-name: logoColoring;
}

body svg .logoColor.lcb {
  fill: url(#linear-gradient);
  clip-path: url(#clipb);
}

body svg .logoColor.lct {
  fill: url(#linear-gradient-2);
  clip-path: url(#clipt);
}

body svg .logoShape.lsb {
  animation-name: swipeBottom;
}

body svg .logoShape.lst {
  animation-name: swipeTop;
}

body svg .group {
  transform: translateX(50%);
  animation-name: logoReveal;
}

body svg .letters {
  animation-name: lettersReveal;
}

body svg .letters path {
  opacity: 0;
  fill: #253858;
  animation-name: lettersFadeIn;
  animation-duration: 0.1s;
  animation-timing-function: cubic-bezier(.29,.97,.83,.67);
}

body svg .letters path:nth-child(0) {
  animation-delay: 2.9s;
}

body svg .letters path:nth-child(1) {
  animation-delay: 2.99091s;
}

body svg .letters path:nth-child(2) {
  animation-delay: 3.08182s;
}

body svg .letters path:nth-child(3) {
  animation-delay: 3.17273s;
}

body svg .letters path:nth-child(4) {
  animation-delay: 3.26364s;
}

body svg .letters path:nth-child(5) {
  animation-delay: 3.35455s;
}

body svg .letters path:nth-child(6) {
  animation-delay: 3.44545s;
}

body svg .letters path:nth-child(7) {
  animation-delay: 3.53636s;
}

body svg .letters path:nth-child(8) {
  animation-delay: 3.62727s;
}

body svg .letters path:nth-child(9) {
  animation-delay: 3.71818s;
}

body svg .letters path:nth-child(10) {
  animation-delay: 3.80909s;
}

body svg .letters path:nth-child(11) {
  animation-delay: 3.9s;
}

body svg .letters path:nth-child(12) {
  animation-delay: 3.99091s;
}

body svg .letters path:nth-child(13) {
  animation-delay: 4.08182s;
}

body svg .letters path:nth-child(14) {
  animation-delay: 4.17273s;
}

body svg .letters path:nth-child(15) {
  animation-delay: 4.26364s;
}

body svg .letters path:nth-child(16) {
  animation-delay: 4.35455s;
}

body svg .letters path:nth-child(17) {
  animation-delay: 4.44545s;
}

body svg .letters path:nth-child(18) {
  animation-delay: 4.53636s;
}

body svg .letters path:nth-child(19) {
  animation-delay: 4.62727s;
}

body svg .letters path:nth-child(20) {
  animation-delay: 4.71818s;
}

body svg .letters path:nth-child(21) {
  animation-delay: 4.80909s;
}

body svg .letters path:nth-child(22) {
  animation-delay: 4.9s;
}

body svg .letters path:nth-child(23) {
  animation-delay: 4.99091s;
}

body svg .letters path:nth-child(24) {
  animation-delay: 5.08182s;
}

body svg .letters path:nth-child(25) {
  animation-delay: 5.17273s;
}

body svg .letters path:nth-child(26) {
  animation-delay: 5.26364s;
}

body svg .letters path:nth-child(27) {
  animation-delay: 5.35455s;
}

body svg .letters path:nth-child(28) {
  animation-delay: 5.44545s;
}

body svg .letters path:nth-child(29) {
  animation-delay: 5.53636s;
}
