$blue: #0052CC;
$shadowColor: #cccccc;

@mixin delaysquick($adder: 0) {
  @for $i from 0 to 30 {
    &:nth-child(#{$i}) {
      animation-delay: #{$adder + ($i / 11)}s;
    }
  }
}

@keyframes shadowsFadeInOut {
  0% {
    opacity: 0;
  }

  20%,
  50% {
    opacity: 1;
    fill: #eee;
  }

  70%,
  100% {
    opacity: 0;

  }
}

@keyframes swipeTop {
  0% {

    transform: translate(-96%, -36%);
  }

  13% {

    transform: translate(-48%, -18%);
  }

  23% {
    transform: translate(-18%, -18%);
  }

  70%,
  100% {
    transform: translate(0, 0);

  }
}

@keyframes swipeBottom {
  0% {
    transform: translate(96%, 36%);
  }

  13% {
    transform: translate(48%, 18%);
  }

  23% {
    transform: translate(18%, 18%);
  }

  70%,
  100% {

    transform: translate(0, 0);
  }
}

@keyframes logoColoring {
  0% {
    opacity: 0;
  }

  80%, 100% {
    opacity: 1;
  }
}

@keyframes logoReveal {
  
  0%,
  75% {
    transform: translateX(50%)
  }

  80%,
  100% {
    transform: translateX(0)
  }
}

@keyframes lettersFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

html,
body {
  min-height: 100%;
}

html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #fff;
  color: #313d58;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: 300px;
    height: 300px;

    g,
    path,
    .clips,
    circle {
      animation-fill-mode: forwards;
      animation-duration: 4.5s;
      animation-timing-function: ease-in;
      animation-iteration-count: 1;
      animation-delay: 0.01s;
      animation-fill-mode: forwards;
    }

    .logoShadow {
      fill: white;
      mix-blend-mode: multiply;
      filter: url(#inset-shadow);
      opacity: 0;
      animation-name: shadowsFadeInOut;
    }

    .logoColor {
      opacity: 0;
      animation-name: logoColoring;
      &.lcb {
        fill: url(#linear-gradient);
        clip-path: url(#clipb);

      }

      &.lct {
        fill: url(#linear-gradient-2);
        clip-path: url(#clipt);
      }
    }

    .logoShape {
      &.lsb {
        animation-name: swipeBottom;

      }

      &.lst {
        animation-name: swipeTop;
      }
    }

    .group {
      transform: translateX(50%);
      animation-name: logoReveal;
    }

    .letters {
      animation-name: lettersReveal;

      path {
        opacity: 0;
        fill: #253858;
        @include delaysquick(2.9);
        animation-name: lettersFadeIn;
        animation-duration: 0.1s;
      }
    }
  }
}